.App-header{
  background-color: #111;
  color: floralwhite;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #61dafb;
}
.Header-title{
  color: floralwhite;
}

.Button-nav{
  float:left;
  margin: 5px;
}

.Profile-picture{
  height: 5vmin;
  pointer-events: none;
}
.Profile-position{
    right: 10px;
    bottom: 10px;
    position:absolute;
}
.App-logo {
  height: 5vmin;
  pointer-events: none;
  left: 10px;
  top: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header-button{
    width: 100px;
    height: 50px;
    border: solid #61dafb 1px;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.Header-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.Header-button:active {
    color: #000
}

.Header-button:active:after {
    background: transparent;
}

.Header-button:hover:before {
    opacity: 1;
}

.Header-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}