<td>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#paymentModal">Pay</button>

    <!-- Modal -->
    <div id="paymentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Payment</h4>
                </div>
                <div class="modal-body">
                    <form action="/userPayment" method="post">
                        <p><strong>Payment Method</strong>: {{ user.paymentMethod }}</p>
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="number" class="form-control" name="paymentamount" />
                        </div>
                        <button type="submit" class="btn btn-info">check out</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</td>