<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">CareerPortal is a simple solution to posting jobs and apply to them as well. With this program, the sky is the limit!!!</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Edit Profile</h6>
                <ul class="footer-links">
                    <li> {{> PaymentTypeModal}}</li>
                    <li> {{> PaymentMethodModal}}</li>
                    <li> {{> CreditNumberModal}}</li>
                    <li> {{> CheckingNumberModal}}</li>
                    <li> {{> RecoveryAnswerModal}}</li>
                    <li>  {{> recruiterCategoryModal}}</li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="" onclick="alert('Email 353groupproject@gmail.com for help!')">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">CareerPortal</a>.
                </p>
            </div>
        </div>
    </div>
</footer>