
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#recruiterCategoryModal">Category</button>
    <!-- Modal -->
    <div id="recruiterCategoryModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose Category</h4>
                </div>
                <div class="modal-body">
                    <form action="/changeCategoryRecruiter" method="post">
                        <div class="form-group">
                            <label>What type of account would you like?:</label><br>
                            <input type="radio" name="accounttype" id="gold" value="Gold">
                            <label for="gold">Gold</label><br>
                            <input type="radio" name="accounttype" id="prime" value="Prime">
                            <label for="prime">Prime</label><br>
                        </div>
                        <button type="submit" class="btn btn-info">Change</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
