<!DOCTYPE html>
<html>
<head>
    <title>Application Administration</title>
    {{> head}}
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1>Activity Administration</h1>
        <a href="/logout" class="btn btn-info">Logout</a>
        <a href="/admin" class="btn btn-info">Manage Users</a>
        <a href="/manage/applications" class="btn btn-info">Manage Applications</a>
        <a href="/manage/jobs" class="btn btn-info">Manage Jobs</a>
    </div>
    <p></p>
    <table class="table table-striped table-hover">
        <thead>
        <th>Event Time</th>
        <th>Command Type</th>
        <th>Argument</th>

        </thead>
        <tbody>
        {{#each systeminfo}}
            <tr>
                <td>{{ this.event_time }}</td>
                <td>{{ this.command_type }}</td>
                <td>{{ this.argument }}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>


</body>
</html>
