<!-- Libraries -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" href="/stylesheets/base.css" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<table class="center">
    <tr>
        <td><a href="/profile" class="btn btn-success">Profile</a></td>
        <td><a href="/viewsubmissions" class="btn btn-success">View Job Applications</a></td>
        <td>
            <form action="/viewJobListings" method="get"><button type="submit" class="btn btn-info"> View Jobs List</button></form>
        </td>

        <td>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Create a new Job Posting</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create a new Job!</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/createjob" method="post">
                                <div class="form-group">
                                    <label>Job Title</label>
                                    <input type="text" class="form-control" name="jobTitle" required />
                                </div>
                                <label>Job Category</label>
                                <div>
                                        <select name="jobCategory">
                                        <option value="front">Front-End Engineer</option>
                                        <option value="back">Back-End Engineer</option>
                                        <option value="full">Full Stack Engineer</option>
                                        <option value="qa">Software Engineer in Test (QA Engineer)</option>
                                        <option value="devops">DevOps Engineer</option>
                                        <option value="security">Security Engineer</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    <label>Job Description</label>
                                    <input type="textbox" class="form-control" name="jobDescription" required />
                                </div>
                                <div class="form-group">
                                    <label>How many employees are needed?</label>
                                    <input type="textbox" class="form-control" name="numberEmployeesNeeded" required />
                                </div>
                                <button type="submit" class="btn btn-info">Create Job Posting</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td><a href="/logout" class="btn btn-dark">Logout</a></td>
    </tr>
</table>
