<!-- Libraries -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/base.css">
<table  class="center">
    <tr>
        <td><a href="/profile" class="btn btn-secondary">Profile</a></td>
        <td><a href="" class="btn btn-secondary">See my Jobs</a></td>
    </tr>
</table>