<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
    {{> head}}
    <script type="text/javascript"></script>
  </head>
  <body>
    <div class="forgotpass-container">
      
      <div class="card text-white bg-dark mb-3" >
        <div class="card-header"><h1>Enter the email and recovery answer associated to your account below to reset your password.</h1></div>
        <div class="card-body">
                <form action="/resetpassword" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" required>
                    </div>
                    <div class="form-group">
                        <label>Recovery Answer</label>
                        <input type="text" class="form-control" name="recoveryanswer" required>
                    </div>
                    <button type="submit" class="btn btn-info" onclick="alert('If the details you entered were correct, you will receive an email momentarily.');">Recover my Account</button>
                </form>
          </div>
        
      </div>
<hr>
        <p>Return to <a href="/">home</a>.</p>
    </div>
    
  </body>
</html>
