<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {{> head}}
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to the Career Portal!</h1>
        <p>Sign in below, or sign up if you don't have an account.</p>
        <p>
          <div>
            <a href="/login"><button class="btn btn-primary btn-lg">Log In</button></a>
            <a href="/usersignup"><button class="btn btn-info btn-lg">User Sign Up</button></a>
            <a href="/recruitersignup"><button class="btn btn-info btn-lg">Employer Sign Up</button></a>
            <a href="/forgotpassword"><button class="btn btn-info btn-lg">Forgot your password?</button></a>
            <button class="btn btn-info btn-lg" onclick="alert('Email 353groupproject@gmail.com for help!')">Contact Us</button>
          </div>
        </p>
      </div>
    </div>
  </body>
</html>
