<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    {{> head}}
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>Profile</h1>
        <a href="/logout" class="btn btn-info">Logout</a>
      </div>

      <div class="well">
        <p><strong>User ID</strong>: {{ user.userId }}</p>
        <p><strong>Email</strong>: {{ user.email }}</p>
        <p><strong>Recovery Answer</strong>: {{ user.accountRecoveryAnswer }}</p>
      </div>
    </div>
  </body>
</html>
